.chat-main
 .chat-main__group
  .chat-main__left-box
   %h2.current-group
    LUCKY
   %ul.chat-main__left-box-member
    Member : mario
  %a(href="#")
   .chat-main__group-edit-btn
    Edit
 .chat-main__message
  .chat-main__message-info
   %p.chat-main__message-talk
    oni
   %p.chat-main__message-date
    2020/1/21(tue)14:12:30
  %p.message-text
   おはよう
 .chat-main__form
  .form
   %form.new-message
    .input-box
     %input{type: "text", class: "input-box__text", placeholder: "type a message"}
     %label{class: "input-box__image"}
      =icon('fas','image')
      %input{type: "file", class: "input-box__image__file"}
    %input{type: "submit", class: "submit-btn", value: "SEND"}
