.chat-side
 .side-bar__user
  .side-box
   %p.side-box__user-name
    = current_user.name
   %ul.side-box__right
    %li.side-box__edit
     =link_to "#"  do
      =icon('fas', 'edit')
    %li.side-box__new
     = link_to edit_user_path(current_user) do
      = icon('fas', 'cog', class: 'icon')

 .side-bar__group
  %p.side-bar__group-name
   kokoko
  %p.side-bar__group-message
   こんにちは
   